extends layout

block content
  h1= title
  p Welcome to #{title}
  p Share your photos with the world, literally!
  ul.image-list
    for image in images
      li
        a(href = image.href, id = image._id)= image.title
        | &nbsp;
        a( href = '/images/' + image._id + '/destroy') &#215;
          
  div.overlay
    div
      img
      div.close X