extends layout

block content
  h1= title
  p Welcome to #{title}
  p Share your photos with the world
  ul.image-list
      li#123451 photo 1
      li#123452 photo 2
      li#123453 photo 3
      li#123454 photo 4
      li#123455 photo 5
  div.overlay
      div
          img
          div.close