extends layout

block content
  h1= title
  div.view map
  div.view list
  ul.image-list
    li
      img(src="images/123456.jpg")
      a Jamming the Invogoration  
        span 11 Dec 12        
    li
      img(src="images/123456.jpg")
      a Breakfast with flies          
        span 12 Dec 12        
    li
      img(src="images/123456.jpg")
      a Blue pools = small balls 
        span 12 Dec 12
    li
      img(src="images/123456.jpg")
      a Cleansing of Lake Wakitipu
        span 12 Dec 12                   
    li
      img(src="images/123456.jpg")
      a "Of Course I like Venison!"              
        span 12 Dec 12
  div.overlay
    div
      img
      div.close X