extends layout

block content
  h1= title
  div.view map
  div.view list
  div#map_canvas
  ul.image-list
    for image in JSON.parse(images)
      li
        a(href = image.href, id = image._id)= image.title
          span= image.createdDate
        | &nbsp;
        a( href = '/images/' + image._id + '/destroy') &#215;
  div.overlay
    div
      img
      div.close X
  script
      function initialize() {
        var mapOptions = {
          center: new google.maps.LatLng(-39.282443,174.762331),
          zoom: 5,
          mapTypeId: google.maps.MapTypeId.ROADMAP
        };
        var map = new google.maps.Map(document.getElementById("map_canvas"), mapOptions);
        !{images}.forEach(function(image){
          var marker = new google.maps.Marker({
            position: new google.maps.LatLng(image.lat, image.lng),
            map: map,
            title : image.href
            });
          google.maps.event.addListener(marker,'click', function(){
            $.get(image.href, function(data) {
              $('.overlay img').attr("src", image.href);
              $('.overlay').show();
            });
          });
        });
      }