extends layout

block content
  a.toggle-view(href = '/list') All Images
  div#map_canvas
  div.overlay
    div.close.toggle-view close
    table.selected-image(align = "center")
      tr
        td(align = "center") 
          img
          

  script(src="https://maps.googleapis.com/maps/api/js?key=AIzaSyD9c9evqyMioCa2gN4CDv6zxgzyX5dZN00&sensor=false")
  script(src="/javascripts/gmaps-markerclusterer.js")
  script
      (function() {
        var mapOptions = {
          center: new google.maps.LatLng(-44,170.5),
          zoom: 6,
          disableDefaultUI: true,
          panControl: true,
          zoomControl: true,
          mapTypeId: google.maps.MapTypeId.ROADMAP
        };
        var map = new google.maps.Map(document.getElementById("map_canvas"), mapOptions);
        var markers = [];
        !{images}.forEach(function(image){
            var marker = new google.maps.Marker({
              position: new google.maps.LatLng(image.lat, image.lng),
              map: map,
              title : image.imageTitle
            });
            google.maps.event.addListener(marker,'click', function(){
              $('body').trigger('loadSelectedImage', image.href);
              //loadSelectedImage(image.href);
            });
          markers.push(marker);
        });
        var markerCluster = new MarkerClusterer(map, markers);
      }());