extends layout

block content
  h1= title
  p Welcome to #{title}
  p Share your photos with the world
  ul.image-list
    for image in images
      li
          a(href = image.href, id = image._id)= image.title
          
  div.overlay
      div
          img
          div.close X