doctype 5
html
  head
    title= title
    link(rel='stylesheet', href='/stylesheets/style.css')
  body
    div.wrapper
      block content
    script(src="javascripts/zepto.min.js")
    script(src="javascripts/script.js")