extends layout

block content
  a.toggle-view(href = '/') Map
  div.overlay
    div.close.toggle-view close
    table.selected-image(align = "center")
      tr
        td(align = "center") 
          img
      
  ul.image-list
    - day = null
    for image in JSON.parse(images)
      - date = new Date(image.createdDate)
      if day === null || day < new Date(date.getYear(), date.getMonth(), date.getDay()).getTime()
        h1.day #{date.toDateString()}
        - day = new Date(date.getYear(), date.getMonth(), date.getDay()).getTime()
      li
        a(href = image.href, id = image._id)
          //- div #{date.toTimeString()}
          h2 #{image.title} &raquo;