body {
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
  color:#333333;
}

a {
  color: #00B7FF;
}
h1{
  text-align: left;
  margin-bottom:5px;
  font-weight: 100;
  letter-spacing: -2px;
  float: left;
}
h2{
  text-align: center;
  font-weight: 100;
  font-size: 15px;
  margin: 0;
  letter-spacing: 2px;
}
.view{
  float: right;
  margin: 30px 0 0 20px;
}
.wrapper{
  width:95%;
  max-width:480px;
  margin: 0 auto;
}
.overlay{
  display: none;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, .95);
}
.selected-image{
    position: absolute;
    max-width: 100%;
    height:100%;
}
.overlay img{
    width: 100%;
}
.toggle-view {
    position: absolute;
    display: block;
    top: 10px;
    right: 2.5%;
    min-width: 75px;
    text-align: center;
    background-color: rgba(256, 256, 256, .5);
    padding: 5px;
    border-radius: 10px;
    border: 2px solid #555;
    text-transform: uppercase;
    letter-spacing: 1px;
    color: #333333;
    text-decoration: none;
    cursor: pointer;
}
.overlay .close{
  z-index: 10;
}
form{
  text-align: center;
  
}
input{
width: 100%;
height: 28px;
padding: 5px;
margin: 20px 0;
}
#imageTitle{
  border-radius: 5px;
  font-size: 20px;
  font-weight: 100;
  color: #444;
}
input[type="file"]{
  padding: 0px;
  margin: 50px 0 0;
}
input[type="submit"]{
  width: 200px;
  height: 55px;
  line-height: 50px;
  background-color: #DDD;
  padding-left: 20px;
  -moz-border-radius: 10px;
  -webkit-border-radius: 10px;
  border-radius: 10px;
  -moz-box-shadow: 0 2px 0 #4c9434;
  -webkit-box-shadow: 0 2px 0 #4C9434;
  box-shadow: 0 2px 0 #4C9434;
  background-image: -webkit-gradient( linear, left bottom, left top, color-stop(0, #60B842), color-stop(0.85, #7FD13D) );
  background-image: -moz-linear-gradient( center bottom, #60B842 0%, #7FD13D 85% );
  color: white;
  font-family: arial,helvetica,sans-serif;
  font-size: 17px;
  font-weight: bold;
  text-shadow: 1px 1px 1px #4C9434;
  border: none;
  
}
.day{
  font-size: 16px;
  color: #333;
  border-bottom: 1px solid #333;
  width: 100%;
  letter-spacing: 0px;
  margin-bottom: 0;
  padding-bottom: 3px;
}
ul{
  list-style: none;
  padding:0;
  float: left ;
  width :100%;
  margin: 0 0 10px;
}
li{
  float: left;
  width: 100%;
  font-family: arial,helvetica,sans-serif;
  font-size: 17px;
  font-weight: 100;
  border: none;
  text-align: left;
  padding: 20px 0;
  border-top: 1px solid #aaaaaa;  
 }
li a{
  color:#333333;
  float: left;
  cursor: pointer;
}
li a div{
  float: left;
  background-color: #333;
  color: white;
  padding: 5px;
  border-radius: 5px;
  font-size: 11px;
  letter-spacing: 1px;
  min-width: 55px;
  text-align: center;
}
 li a h2{
   float: left;
   padding: 4px 0 4px 20px;
   font-size: 16px;
 }
 li a.destroy { float: right; margin-right: 5%; text-decoration: none; }
 li a span{
  font-size: 13px;
  font-weight: 100;
  text-align: right;
  float: right;
  margin: 3px 5% 0 0;
 }
 #map_canvas{
   height: 500px;
   width:100%;
 }